:root {
  font: 16px / 1 'Verdana' sans-serif;
  /* SDG Colors */
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
  /* Favicon Colors */
  --big-d: #00b7ff;
  --cessna: #5e5e5e;
  /* Custom Webpage Colors */
  --pale-green: #e1eedd;
  --mando-blue: #1857a4;
  --slate: #c8d8e4;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: var(--pale-green);
}
header {
  display: flex;
  flex-direction: column;
  top: 0;
}
h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px 0px 5px;
}

.heading {
  background-color: #00bfd5;
  color: #f2f7f5;
  list-style: none;
  justify-content: center;
  text-decoration: underline;
  text-align: center;
}

header ul {
  justify-content: center;
}

header ul li {
  list-style: none;
  padding: 5px 15px;
}

h1 {
  color: #415467;
}

h2 {
  color: #415467;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  color: #415467;
}

.kittens-of-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1.5px solid #008aa1;
  padding: 5px;
  margin: 0px auto 10px 20px;
}

.kittens-of-day ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 10px 35px 38px 35px;
}

.kittens-of-day h3 {
  text-align: left;
  padding: 0px;
  margin: 5px 0px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
  margin: 0px 30px 0px 30px;
}

.blog-post h2 {
  text-align: left;
  margin: 10px 0px 5px;
}

p {
  margin: 10px 0px;
}

main {
  display: flex;
  align-items: flex-start;
}

footer {
  text-align: center;
  padding: 3px 3px 0px 3px;
  background-color: var(--slate);
  color: black;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  text-decoration: underline;
  padding: 10px;
  margin: auto;
}

footer ul li {
  padding: 5px 15px;
}

a {
  text-decoration-color: white;
}

nav ul {
  display: flex;
}

/* Slide Show */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Caption text 3 */
.text3 {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Number text (4/4) */
.numbertext4 {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
